html{
    scroll-behavior: smooth;
}
body{
    font-family:Arial, Helvetica, sans-serif;
}
/* inicio */
#header-banner{
    height:650px;
    width:100%;
    background:url(../img/fundo2.jpg)center no-repeat;
    background-size:cover;
}
#menu{
    height:10%;
    position:fixed;
    width:100%;
    background-color: #000000;
    opacity: 0.8;
}

#menu li{
    display:inline-block;
    margin-right: 5%;
    padding-top: 2%;
}
#menu a{
    text-decoration: none;
    font-size:20px;
    color:white;
    text-align: right;
}
#menu a:hover{
    color:#ececec;
}
#logo{
    width:10%;
    height:100%;
    float:left;
    margin-left:10%;
    background-size: cover;
    align-items: center;
}
#imglogo{
    height:100%;
    width:45%;
    padding-top: 2%;
}
#navegacao{
    width: 70%;
    height: 100%;
    float:left;
    text-align: right;
}
#text{
    width: 24%;
    height:30%;
    color:white;
    padding-top: 25%;
    padding-left: 37%;
}
#text h2{
    color:white;
    font-size:60px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    -webkit-text-stroke-width:1px;
}
#text p{
    color:white;
    font-size:22px; 
}
/*sobre*/
#sobre{
    height:900px;
    width: 100%;
    margin-top: 30px;
    justify-content: center;
    flex-direction: row;
    display:flex;
    align-items: stretch;
    background-color:#fafafa;
}
.container{
    height:100%;
    width:80%;
}
#sobre span{
    color:#E9BA02;
    font-size:26px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #E9BA02;
}
#sobre h1{
    font-size:25px;
    color:black;
}
#group-sobre{
    height: 250px;
    width:100%;
    justify-content: center;
    flex-direction: row;
    display:flex;
    align-items: center;
}
.icons-sobre{
    height:100%;
    width:32%;
}
.icons-sobre img{
    margin-left: 40%;
}
.icons-sobre h1{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.icons-sobre h2{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-align:center;
}
.icons-sobre p{
    text-align:center; 
}
#div-funciona{
    height:500px;
    width:100%;
}
#div-funciona h1{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.card-funciona{
    height:210px;
    width:48%;
    float:left;
}
#card1{
    margin-right:2%;
    border-bottom:2px solid #E9BA02;
}
#card2{
    border-bottom:2px solid #E9BA02;
}
#card3{
    margin-right:2%;
}
#card4{
    
}
.card-text{
    height: 100%;
    width:60%;
    float:left;
}
.card-text span {
    font-size:30px;
}
.card-text p{
    font-size:18px; 
    text-align: center;
}
.card-icon{
    height: 100%;
    width:40%;
    float:left;
    justify-content: center;
    flex-direction: row;
    display:flex;
    align-items: center;
}
/* servico */
#servico{
    height: 480px;
    width:100%;
    background: url(../img/fundo4.png) center no-repeat;
    background-size: cover;
}

#text_servico{
    height:80%;
    width:60%;
    padding:4%;
}
#servico h1{
    color:white;
    text-align: left;
    font-size: 27px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}
#servico h4{
    color:white;
    text-align: left;
    font-size:19px;
}
#servico span{
    color:#E9BA02;
    font-size:20px;
}
/* simulador */
#simulador{
    height:500px;
    width:100%;
    justify-content: center;
    flex-direction: row;
    display:flex;
    align-items: center;
    background-color:#fafafa;
}
.container2{
    height:100%;
    width:80%;
    justify-content: center;
    flex-direction: row;
    display:flex;
    align-items: center;
}
#box-simulador{
    background-color:#fafafa;
    height:100%;
    width:60%;
    border-top: 3px solid #E9BA02;
    text-align: center;
}
#box-simulador span{
    color:#E9BA02;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #E9BA02;
}
#box-simulador h1{
    font-size:30px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
#box-simulador h4{
    font-size:22px;
}
#box-simulador button{
    height:9%;
    width:50%;
    background-color:#E9BA02;
    color:black;
    border:none;
    font-size:22px;
    border-radius:1px;
}
/* time */
#time{
    height: 600px;
    width: 100%;
    display:flex;
    justify-content:center;
    flex-direction:row;
    align-items: center;
    margin-top: 21px;
}
.container3{
    height:100%;
    width:80%;
    text-align: center;
}
.container3 h1{
    font-size:30px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.container3 span{
    color:#E9BA02;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #E9BA02;
}
.box-time{
    height:50%;
    width: 100%;
    background-color:transparent;
    text-align:center;
    display:flex;
    justify-content:center;
    flex-direction:row;
    align-items: center;    
}
.box-time h5{

}
.sub-box-time{
    height:75%;
    width:20%;
    margin-bottom: none;
    margin-right: 2%;
    background-color:transparent;
    float:left;
}
.img-time{
    height:200px;
    width:90%;
    margin-left:5%;
    background-color: pink;
}
.aimg{
    height:100%;
    width:100%;
    border-radius:5%;
}
/* rodapé */
footer{
    justify-content: center;
    flex-direction: row;
    display:flex;
    align-items: center;
    color:white;
    background-color:black;
    height:80px;
    width:100%;
}